.pageContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
  }
  
  .authContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 260px;
    gap: 6px;
  }
  
  .authContainer h1 {
    margin: auto;
  }
  
  .authButton {
    max-width: 260px;
  }
  
  .errorMessage {
    color: red;
  }